mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: left;
    background-image: linear-gradient(to right, #CB6CE6,#543B9F);
    color: white;
    font-weight: 600;
  }

.home{
  color:white;
  font-size: 20px;
}
