<link href= 
"https://fonts.googleapis.com/icon?family=Material+Icons&display=block" 
        rel="stylesheet"> 
<mat-toolbar fxLayout="row">
    <div fxFlex >
        <a mat-button routerLink="/" class="home">Explore Create  Invest</a>
    </div>
    <button mat-button (click) = "openLoginDialog()">
         <mat-icon class="mr">login</mat-icon>
         Sign In
    </button>
    <button mat-button (click) = "openRegisterDialog()">
        <mat-icon class="mr">app_registration</mat-icon>
        Sign Up
   </button>
        
         <!-- <a mat-button *ngFor="let item of menuItems" *ngIf="first" (click)="openLoginDialog()"
         [fxShow]="item.showOnDesktop" 
         [fxShow.xs]="item.showOnMobile"
         [fxShow.sm]="item.showOnTablet">
         <mat-icon class="mr">{{item.icon}}</mat-icon>
         {{item.label}}
        </a> -->
         
    <!-- <button mat-button *ngFor="let item of menuItems" 
        [fxShow]="item.showOnDesktop" 
        [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
    </button>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" 
                     [fxShow.sm]="!item.showOnTablet" 
                     [fxShow.xs]="!item.showOnMobile">
                    <a mat-button {{item.routerLink}}>
                        <mat-icon class="mr" >{{item.icon}}</mat-icon>
                        {{item.label}}
                    </a>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container> -->
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->
