<div class="inRow">
<p mat-dialog-title>Your Account</p>
</div>
<div mat-dialog-content>
  <button mat-button routerLink="/profile" (click)="onCancel()">Profile</button >
</div>
<div mat-dialog-content>
  <button mat-button routerLink="/settings" (click)="onCancel()">Settings</button >
</div>
<div mat-dialog-content>
  <button mat-button routerLink="/messages" (click)="onCancel()">Messages</button >
</div>
<div>
  <p  mat-dialog-title >Your Creation</p>
</div>
<div mat-dialog-content>
  <button mat-button routerLink="/newProject" (click)="onCancel()">NEW</button >
</div>
<div class="rightAlign">
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Log Out</button>
  </div>
</div>