mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: left;
    background-image: linear-gradient(to right, rgb(84, 34, 119), rgb(141, 51, 141));
    color: white;
    font-weight: 600;
  }
