.cover {
      background-image: url('/assets/images/alex-knight-2EJCSULRwC8-unsplash.jpg') !important;
      background-size: cover;
      background-position: 50%;
}

/* Container holding the image and the text */
.container {
  margin-top: 60px;
  background-position: center center;
  background-clip: content-box;
  text-align: center;
  color: white;
  position: relative;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 5%
}

/* Top left text */
.top-left {
  position: absolute;
  top: 70px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 70px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn{
  margin-top: 20px;
  margin-left: 20px;
  background-image: linear-gradient(to right, #CB6CE6,#543B9F);
  color: white;
}