
<div class="container">
    <img class="cover" src="assets/images/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="Snow" style="width:100%;">
    <img class="bottom-left" src="assets/images/logo.png">
    <div class="top-left">
        <!-- Search form -->
      <form class="form-inline md-form form-sm active-cyan-2">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
          mdbInput>
      </form>
    </div>
      <!-- <ul *ngFor="let data of dataset | filter: searchText">
        <li>{{data}}</li>
      </ul> -->
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
  </div>