<div mat-dialog-content>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <form class="example-form" action="login" method="post">
        <mat-card-content>
          <mat-form-field hintLabel="Enter your email" class="example-full-width">
            <input matInput type="text" name="userName" [(ngModel)]="userName" id="email" placeholder="Enter Your Username"[formControl]="emailFormControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="standard" class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Your password" [formControl]="passwordFormControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordFormControl.hasError('minLength') && !passwordFormControl.hasError('required')">
              Please enter a valid password with minimum 8 characters
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-hint>Min 8 char 1 number and 1 alpha</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" type="submit" name="Login" (click)="login()">Sign in</button>
      </form>
      <p class="addSpace">Forgot your password? Reset it <button mat-button (click)="openResetpassDialog()">Here</button></p>
      <p>Don't have an account? Register <button mat-button (click)="openRegisterDialog()">Here</button></p>
    </mat-card>
  </div>
</div>
