.example-card {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 700px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }